.checkbox {
	&__label {
        padding-left: 35px;
        position: relative;
		cursor: pointer;
		font-size: 12px;
		line-height: 14px;
		color: $pale-dark;
	}

	&__checkbox {
		position: absolute;
		left: 0;
		opacity: 0;
		cursor: pointer;
	}

	&__checkmark {
		position: absolute;
		display: block;
		top: -2px;
		left: 0;
		height: 20px;
		width: 20px;
		background-color: rgba($pale-grey, 1);
        border-radius: 2px;
        border-color: $pale-grey;
        transition: all 0.2s ease;

		&::after {
			content: "";
			position: absolute;
			display: none;
			left: 0px;
			bottom: 2px;
			right: 0;
			top: 0;
			margin: auto;
			width: 4px;
			height: 7px;
			border: solid $white;
			border-width: 0 2px 2px 0;
			transform: rotate(45deg);
		}
	}

	&__checkbox:checked ~ &__checkmark::after {
		display: block;
    }
    
    &__checkbox:checked ~ &__checkmark {
        background-color: $blue;
    }
}