.form {
  &__container {
      position: absolute;
      left: 50%;
      top: 50%;
      width: 400px;
      padding: 30px 20px;
      background-color: $white;
      border-radius: 4px;
      transform: translate(-50%, -50%);
  }

  &__element {
      margin-bottom: 20px;
  }

  &__flex {
      @extend .flex-justify-content-space-between;
  }

  &__link {
      font-size: 14px;
      @extend .text-blue;
  }

  &__label {
      display: block;
      font-size: 14px;
      color: $color-main;
  }

  &__invalid {
      font-size: 12px;
      color: $color-invalid;
      margin-top: 10px;
  }

  &__select {
      display: block;
      padding: 10px 15px;
      width: 100%;
      border-radius: 4px;
      color: $color-main;
      border: 1px solid $grey;
      outline: none;
      transition: all 0.2s ease;
      background-color: $color-background;
      appearance: none;
      cursor: pointer;
  }

  &__input {
      display: block;
      padding: 10px 15px;
      width: 100%;
      height: 36px;
      border-radius: 4px;
      color: $color-main;
      border: 1px solid $grey;
      outline: none;
      background-color: $color-background;
      transition: all 0.2s ease;
      margin-top: 10px;

      &::placeholder {
          color: rgba($dark, 0.15);
      }

      &:focus {
          border-color: rgba($dark, 0.5);
      }

      &.invalid {
          border-color: $color-invalid;
          background-color: rgba($color-invalid, 0.15);
      }
  }

  &__select {
      @extend .form__input;

      padding: 5px 10px;
  }

  &__title {
      font-size: 32px;
      color: $color-main;
      margin-bottom: 35px;
  }

  &__submit {
      display: block;
      padding: 10px 15px;
      width: 100%;
      border: none;
      border-radius: 4px;
      color: $white;
      font-weight: 700;
      cursor: pointer;
      background: linear-gradient(to right, rgba(73, 155, 234, 1) 0%, rgba(32, 124, 229, 1) 100%);
      transition: all 0.2s ease;

      &:hover {
          background: linear-gradient(to right, rgba(73, 155, 234, 1) 25%, rgba(32, 124, 229, 1) 75%);
      }
  }

  &__loader {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      background-color: rgba($dark, 0.4);

      .loader {
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          top: 0;
          margin: auto;
      }
  }
}