$white: #fff;
$red: #EB5757;

$dark: #232b3a;
$pale-dark: rgba($dark, 0.5);

$grey: #e0e0e0;
$pale-grey: rgba($grey, 0.5);

$light-blue: #499bea;
$blue: #207ce5;

$color-invalid: $red;

$color-main: $dark;
$color-background: rgba(244, 249, 255, 0.5);